<h1>Edit Profile</h1>
<br></br>

<%= render "form", recuriement: @recuriement %>

<br>

<div>
  <%= link_to "Show", @recuriement, class:"btn btn-primary" %> |
  <%= link_to "Back", recuriements_path, class:"btn btn-dark" %>
</div>
